<!DOCTYPE html>
<html>
  <head>
    <title>MembersOnly</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "index-style", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <% if flash[:notice] %>
      <div class="global-notification success">
        <p class="notice"><%= notice %></p>
      </div>
    <% end %>
    <% if flash[:alert] %>
      <div class="global-notification warning">
        <p class="alert"><%= alert %></p>
      </div>
    <% end %>
    <div class="main-content">
      <nav class="navbar">
        <div class="navbar__left">
          <%= link_to root_path, class: "navbar-item"  do %>
            <h1>Maçonaria</h1>
          <% end %>
        </div>
        <div class="navbar__right">
          <% if user_signed_in? %>
            <p class="user-info">
              <%= link_to current_user.username, edit_user_registration_path, class: "user-info" %>
            </p>
            <p>
              <%= link_to 'Logout', destroy_user_session_path, data: { turbo_method: :delete },  class: "user-info" %>
            </p>
          <% else %>
            <p>
              <%= link_to 'Entrar', new_user_session_path, class: "user-info" %>
            </p>
            <p>
              <%= link_to 'Criar conta', new_user_registration_path, class: "user-info" %>
            </p>
          <%end%>
        </div>
      </nav>
      <div class="side">
        <% if user_signed_in? && !current_page?(edit_user_registration_path) %>
          <%= render "posts/form" %>
        <% end %>
      </div>
      <div class="main">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
