<!DOCTYPE html>
<html>
  <head>
    <title>MembersOnly</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <% if flash[:notice] %>
      <div class="global-notification success">
        <p class="notice"><%= notice %></p>
      </div>
    <% end %>
    <% if flash[:alert] %>
      <div class="global-notification warning">
        <p class="alert"><%= alert %></p>
      </div>
    <% end %>
    <nav class="navbar">
      <div class="navbar__left">
        <%= link_to root_path, class: "navbar-item"  do %>
          <h1>Amigo Secreto</h1>
        <% end %>
      </div>
      <div class="navbar__right">
        <p>botao nick/login</p>
        <p>botao deslogar/criar conta</p>
      </div>
    </nav>
    <div class="side">
        <h1>Side</h1>
    </div>
    <div class="main">
        <%= yield %>
    </div>
    <footer class="footer">
    </footer>


  </body>
</html>
